<%= link_to("<< Back to List", books_path, :class => 'back-link') %>


<h2> Delete Subject</h2>

<%= form_for(@book, :method => 'delete') do |f| %>

<p> Are you sure you want to delete this book? </p>
<p><%= @book.title %> </p>


<%= f.submit("Delete Subject") %>


<% end %>